section.introduction {
	width: 100%;
	margin-top: 20px;
	padding-inline: 12px;
}

@media screen and (max-width: 576px) {
	section.introduction {
		padding-inline: 10px;
	}
}

section.introduction .profile-image {
	width: 100%;
	padding-inline: 12px;
}

section.introduction .profile-image img {
	width: 88px;
	border-radius: 100%;
}

section.introduction .profile-details {
	padding-left: 0px;
}

section.introduction .profile-details .name {
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	color: #000;
}

@media screen and (max-width: 576px) {
	section.introduction .profile-details .name {
		font-size: 14px;
	}
}

section.introduction .profile-details .profession {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	color: #6b7280;
}

section.introduction .profile-details .profession a {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	line-height: 1.5rem;
	color: #6b7280;
}
section.introduction .profile-details .profession a:hover {
	color: #000;
}

section.introduction .profile-details .region {
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
	color: #6b7280;
}

@media screen and (max-width: 576px) {
	section.introduction .profile-details .profession,
	section.introduction .profile-details .profession a,
	section.introduction .profile-details .region {
		font-size: 12px;
	}
}
